nav {
    width: 90%; 
    height: 65px;
    background: #FAF0F2; 
    position: fixed;
    top: 5px; /* 위와의 간격 */
    bottom: 0; /* 아래와의 간격 */
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* 네비게이션 바는 다른 요소보다 위에 위치하도록 설정 */
}

.logo {
    text-align: center;
    padding-top: 11px;
    margin-top: 8px;
}

.logo img {
    margin-left: 70px;
    cursor: pointer;
}

ul {
    position: relative;
    list-style-type: none;
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li img{
    padding-top: 5px;
    width: 60px;
    height: 42px;
    transition: opacity 0.3s; /* 호버 시 부드럽게 변경 */
}

ul li {
    width: 100%;
    margin-left: 20px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

ul li:hover img {
    opacity: 0.7; /* 호버 시 반투명 */
}

ul li span {
    opacity: 0;
    visibility: hidden;
}


